body {
  background-color: #19a2ae;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
}

/* Mobile first */
@media (max-width: 820px) {
  .profile-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .profile-info {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .profile-info-2 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }


}
